<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="cart-group-2">

    <div class="cart-user-l">
        
        <img src="/<%= friendData.image %>"> <br>
        <input type="hidden" id="chatId" value="<%= chatId %>">
        <% if (type == 'privete') { %>
            <a class="btn btn-pr" href="/profile/<%= friendData.id %>"><%= friendData.username %></a>
            <button class="btn btn-pr" id="callBtn">video call</button>
        <% } %>
        
    </div>
    
    <div id="messages-container" class="cart-message">
        <% for( let message of messages ) { %>
            <div class="msg <%= isUser == message.sender ? "my-msg" : "friend-msg" %>">
                <div class="msg-text">
                    <span><%= message.content %> </span>
                </div>
            </div>
        <% } %>
        <div class="text-message">
            <textarea id="message" rows="3"></textarea>
            <button id="sendBtn" class="btn btn-pr">Send</button>
        </div>
    
    </div>

</div>



<%- include('parts/scripts.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/peerjs.min.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/chat.js"></script>


</body>
</head>