<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container cart-propartis">
    <div class="cart-group-2">
        <img src="/<%= userImage %>" alt="">
    </div>
    <div class="cart-group-2">
        <h3><%= username %></h3>

        <% if (!isOwner) { %>
            <form method="POST" id="friends-form">
                <input id="myId" type="hidden" name="myId" value="<%= myId %>">
                <input id="myName" type="hidden" name="myName" value="<%= myName %>">
                <input id="myImage" type="hidden" name="myImage" value="<%= myImage %>">
                <input id="friendId" type="hidden" name="friendId" value="<%= friendId %>">
                <input id="friendName" type="hidden" name="friendName" value="<%= username %>">
                <input id="friendImage" type="hidden" name="friendImage" value="<%= userImage %>">
                <div>
                    <% if (isFriends) { %>
                        <button type="submit" class="btn btn-pr btn-dg" formaction="/friend/delete">Delete Friend</button>
                    <% } else if (isReuestSend) { %>
                        <button type="submit" class="btn btn-pr btn-dg" formaction="/friend/cancel">Cancel Request</button>
                    <% } else if (isReuestRecieved) { %>
                        <button type="submit" class="btn btn-pr" formaction="/friend/accept">Accept Friend Request</button>
                        <button type="submit" class="btn btn-pr btn-dg" formaction="/friend/reject">Reject</button>
                    <% } else { %> 
                        <button id="addBtn" type="submit" class="btn btn-pr">Add Friend</button>
                    <% } %>
                </div>
            </form>
        <% } %>

    </div>
</div>

<%- include('parts/scripts.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<% if (!isOwner && !isFriends && !isReuestSend && !isReuestRecieved) { %>
    <script src="/js/sockets/friend.js"></script>
<% } %>
</body>
</html>