<nav class="nav">
    <input type="checkbox" class="check" id="check">
    <label for="check">
            <li><img src="/img/R3.png" alt="القائمة" class="checkbtn"></li>
        </label>
    <label for="" class="logo"><%= myName %></label>
    <ul>
        <% if (isUser) { %>
            <li><a href="/" <%= pageTitle === 'Home' ? 'class=active': '' %>>Home</a></li>
            <li><a href="/cart" <%= pageTitle === 'Groups' ? 'class=active': '' %>>Groups</a></li>
            <li><a href="/orders" <%= pageTitle === 'Friends' ? 'class=active': '' %>>Friends</a></li>
            <li><a href="/profile" <%= pageTitle === myName ? 'class=active': '' %>>profile</a></li>
        <% } else { %>
            <li><a href="/login" <%= pageTitle === 'Login' ? 'class=active': '' %>>Login</a></li>
            <li><a href="/singup" <%= pageTitle === 'Singup' ? 'class=active': '' %>>Singup</a></li>
        <% } %>
        <% if (isUser) { %>
            <input type="hidden" id="userId" value="<%= isUser %>">
            <li class="nav-li" style="color: #fff">
                <span title="Friend Requests" id="friendReqestsDropdown" class="glyphicon glyphicon-user btn btn-pr" onclick="toggleClass('.friendReqestsDropdown','active');this.classList.add('btn-pr');this.classList.remove('btn-dg');">
                    <span>Friend Requests</span>
                </span>

                <div class="list-group-1 friendReqestsDropdown">
                    <div dir="rtl" style="display: flex;justify-content: end;">
                        <h2 class="list-1"> Friend Requests </h2>
                    </div>
                    <table id="friendRequests" style="padding: 0;" id="iami">
                        <% if ( friendRequests.length === 0 ) { %>
                            <span class="no-friend">no frienf requests</span>
                        <% } %>
                        <% for( let request of friendRequests ) { %>
                            <tr>
                                <td>
                                    <a href="/profile/<%= request.id %>">
                                        <%= request.name %>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>

            </li>
            <li><a href="/logout" style="color: rgb(255, 159, 167); background: #cf1800;">Logout</a></li>
        <% } %>
        <!--<li>
            <input type="search">
            <button>search</button>
        </li>-->
    </ul>
</nav>